.node, .node-locked, .label, .edge {
  stroke-width: 5;
  stroke: black;
}

.node, .node-locked, .label {
  fill: white;
}

.node:hover {
  stroke: blue;
}

.label:hover {
  stroke: yellow;
}

.node-locked {
  opacity: 0.5;
}

.edge {
  fill: transparent;
  stroke: blue;
}

.edge:hover {
  stroke: red;
}

.arrowhead {
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-width: 1;
  stroke: black;
  fill: black;
}

.node-text, .label-text {
    fill: black;
    stroke: transparent;
    font-family: sans-serif;
    text-anchor: left;
    font-size:12pt;
}

.move-tab {
  stroke-width: 1;
  stroke: black;
  fill: green;  
  cursor: move;
}

.edge-tab {
  stroke-width: 1;
  stroke: black;
  fill: blue;
}

.remove-tab {
  stroke-width: 1;
  stroke: black;
  fill: red;
}